@charset "utf-8";

body {
    background-color: #fff;
}
header {
    height: 91px;
    position: absolute;
    left: 0;
    width: 100%;    
    z-index: 100;
    background-color: rgba(0,0,0,.3);
    border-bottom: 1px solid rgba(255,255,255,.2) !important;
}
#header-menu {
    background-color: rgba(0,0,0,.2);
    position: static;
}
.header-menu {
    margin: 90px auto 0px auto;
    position: relative;
}
.container {
    position: relative;
    width: 1100px;
    margin: 0 auto;
    z-index: 3;
}
.main-movie {
    display: block;
    position: relative;
    min-height: 880px;
    padding: 0 0 80px 0;
}
.main-benefit, .main-curaion {
    overflow: hidden;
    position: relative;
    min-height: 840px;
    padding: 0;
}
.main-benefit::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 513px;
    bottom: 0;
    background-color: #503396;
}
.main-curaion { background-color: #252451; }
.main-info { padding: 0  0 50px 0;}


/* header ==================================================================*/
header .megabox {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 140px;
    height: 90px;
    margin: 0 0 0 -70px;
    padding: 0;
}
header .megabox a {
    width: 140px;
    height: 47px;
    background: url(../img/logo-white.png) center no-repeat;
}

.header-menu > li:nth-child(1) > a {
    background: url(../img/gnb-txt-movie-white.png) no-repeat center 0;
    width: 30px;
    left: 166px;
}
.header-menu > li:nth-child(2) > a { 
    background: url(../img/gnb-txt-reserve-white.png) no-repeat center 0;
    width: 30px;
    left: 256px;
}
.header-menu > li:nth-child(3) > a {
    background: url(../img/gnb-txt-theater-white.png) no-repeat center 0;
    width: 31px;
    left: 345px;
}
.header-menu > li:nth-child(4) > a {
    background: url(../img/gnb-txt-event-white.png) no-repeat center 0;
    width: 45px;
    right: 347px;
}
.header-menu > li:nth-child(5) > a {
    background: url(../img/gnb-txt-store-white.png) no-repeat center 0;
    width: 44px;
    right: 241px;
}
.header-menu > li:nth-child(6) > a {
    background: url(../img/gnb-txt-benefit-white.png) no-repeat center 0;
    width: 29px;
    right: 150px;
}
.header-menu > li > a{
    position: absolute;
    top: -38px;
    height: 38px;
    font-size: 15px;
    color: #fff;
    text-indent: -9999px;
}
.header-menu > li > a:hover {
    content: '';
    border-bottom: 3px solid #fff;
}

/* gnb-depth2 */
.gnb-depth2  {position: absolute;}
.gnb-depth2 ul {
    overflow: hidden;
    display: none;
}
.gnb-depth2 ul > li{float: left;}
.gnb-depth2 ul > li a{
    overflow: hidden;
    display: block;
    height: 44px;
    line-height: 44px;
    margin-left: 20px;
    color: #fff;    
}
.gnb-depth2 ul > li a:hover {text-decoration: underline;}
.gnb-depth2 ul > li:first-child a{margin-left: 0;}
.header-menu.on {height: 44px;}
.header-menu li.on .gnb-depth2 ul {display: block;}

/* sitemap */
#link-area > a:nth-child(1) {left: 0px;}
#link-area > a:nth-child(2) {left: 40px;}
#link-area > a:nth-child(3) {right: 0;}
#link-area > a:nth-child(4) {right: 40px;}
.sitemap {
    position: absolute;
    top: -50px;
    width: 36px;
    height: 36px;
    text-indent: -9999px;
    background-position: center;
    background-repeat: no-repeat;
}
/* util-area */
.util-area > div a{
    color: #888;
    font-size: 13px;
    margin-left: 20px;
}
.util-area > div a:first-child {
    margin-left: 0;
}
.util-area .left-link {
    position: absolute;
    left: 0;
    top: -75px;
}
.util-area .right-link {
    position: absolute;
    right: 0;
    top: -75px; 
}
.header-menu>li:nth-child(1) .gnb-depth2 ul{padding-left:50px}
.header-menu>li:nth-child(2) .gnb-depth2 ul{padding-left:166px}
.header-menu>li:nth-child(3) .gnb-depth2 ul{padding-left:300px}
.header-menu>li:nth-child(4) .gnb-depth2 ul{padding-left:598px}
.header-menu>li:nth-child(6) .gnb-depth2 ul{padding-left:834px}

/* layer-menu */
#layer-menu {
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 101;
    width: 100%;
    min-width: 1100px;
    height: 750px;
    overflow: auto;
    background-color: #333;
}
#layer-menu .tit { 
    font-size: 1.46rem;
    padding-top: 50px; 
    color: #fff;
    line-height: 1.1;
}
#layer-menu .list {
    position: absolute;
    width: 158px;
}
p.tit-depth {
    height: 48px;
    color: #fff;
    font-size: 1.2em;
    line-height: 46px;
    text-align: center;
    border-width: 1px 0;
    border-color: rgba(68,68,68,.5);
    border-style: solid;
    
}
.list-depth > li {
    padding: 18px 0 0 0;
    text-align: center; 
    line-height: 1.1;
}
.list-depth > li a {
    white-space: nowrap;
    display: inline-block;
    color: #bbb;
    line-height: 1.1;
}
.list-depth > li a:hover {
    color: #339eb2;
    text-decoration: underline;
}
.list.position-1{left:0;top:97px;width:159px}
#layer-menu .container .list.position-2{left:189px;top:97px}
#layer-menu .container .list.position-3{left:377px;top:97px}
#layer-menu .container .list.position-4{left:565px;top:97px}
#layer-menu .container .list.position-5{left:753px;top:97px}
#layer-menu .container .list.position-6{left:941px;top:97px;width:159px}
#layer-menu .container .list.position-7{left:0;top:368px;width:159px}
#layer-menu .container .list.position-8{left:189px;top:368px}
#layer-menu .container .list.position-9{left:377px;top:368px}
#layer-menu .container .list.position-10{left:565px;top:368px}

/* main-page */

/* main-notice-layer */
.main-notice-layer {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 50%;
    top: 200px;
    z-index: 50;
    width: 400px;
    height: 435px;
    margin: 0 0 0 -200px;
    padding: 0;
    border-radius: 10px;
    background-color: #ecf0f4;
}
.main-notice-layer img {
    width: 400px;
    height: 400px;
}

.btn-close-main-notice {
    overflow: hidden;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin: 0 0 0 10px;
    padding: 0;
    text-indent: -9999px;
    border: 0;
    vertical-align: middle;
    background: url(../img/ico/btn-close-main-notice.png) center no-repeat;
}
.main-page .main-notice-layer .util {
    overflow: hidden;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-align: right;
}
/* 1.박스오피스 =======================================*/
/* bg */
.bg {
    overflow: hidden;
    position: absolute;
    z-index: 2;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    margin: 0 auto;
}
.bg .bg-pattern {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background: url(../img/bg-movie-detail-pattern.png) repeat 0 0;
}
.bg img {
    display: block;
    width: 100%;
    height: auto;
    filter: blur(15px);
}
.main-movie .bg:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(3,1,21,0.7);
}
.main-movie .cont-area {
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 3;
    width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 0 0 50px 0;
}
.cont-area > div { margin-bottom: 50px;}

.cont-area .box-office-title {margin: 169px 0 20px 0; text-align: center;}
.box-office-title span {
    font-size: 1.0667em; 
    color: #fff;
    margin: 0 18px;
    padding: 0 0 5px 0;
    vertical-align: top;
    border-bottom: 2px solid rgba(255,255,255,0.2);
}

.btn-more-movie {
    display: block;
    position: absolute;
    right: 0;
    top: 177px;
    color: #aaa;
    line-height: 16px;
}   
.btn-more-movie .icon_plus {
    margin-left: 4px;
    display: inline-block;
}
/* movie-list */
.movie-list ul {
    overflow: hidden;
}
.movie-list ul > li {
    display: block;
    width: 245px;
    height: 398px;
    float: left;
    margin-right: 40px;
}
.movie-picture img {
    width: 245px;
    height: 352px;
    border-radius: 2px;
}
.movie-picture {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}
.movie-box .down_btn {
    height: 36px;
    position: relative;
}
.btn-heart {
    position: absolute;
    left: 0;
    top: 0;
    width: 80px;
    height: 36px;
    line-height: 34px;
    margin: 0;
    padding: 0 5px;
    color: #fff;
    font-size: 0.8667em;
    border-color: #555;
    background-color: rgba(0,0,0,0.4);
}
.btn_ticketing {
    position: absolute;
    right: 0;
    width: 160px;
    height: 100%;
    background-color: #267;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    line-height: 36px;
}
.movie-list ul > li:last-child {margin-right: 0;}
.ico_heart_solid {
    background: url(../img/ico/ico-heart-toggle-main.png) no-repeat;
    width: 17px;
    height: 15px;
    display: inline-block;
    margin-top: -2px;
    margin-left: 0;
    margin-right: 4px;
}
/* tab-menu */
.cont-area .tab-menu {
    box-sizing: border-box;
    overflow: hidden;
    display: block;
    height: 75px;
    padding: 23px 0 0 0;
    background-color: rgba(0,0,0,0.2);
    font-size:0;
    margin-bottom: 30px;
}
.tab-menu > span {
    display: inline-block;
    box-sizing: border-box;
    font-size: 14px;
    color: #fff;
    width: 25%;
    border-right: 1px solid #626262;
    text-align: center;
    cursor: pointer;
}
.tab-menu > span:last-child {
    border: 0;
}
.tab-menu > span i {
    margin-top: -2px;
    margin-right: 5px;
}
.tab-menu > span:hover {
    text-decoration: underline;
}
.search {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 200px;
    height: 30px;
    padding: 0 30px 0 0;
    border-bottom: 1px solid #423e3e;
}
.search input {
    display: block;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    color: #fff;
}
.search button {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
}
/* mouse */
.mouse {
    position: relative;
    width: 100%;
    height: 24px;
    text-align: center;
}
.mouse img {
    width: 16px;
    height: 24px;
    margin: 0 0 0 -8px;
    position: absolute;
    left: 50%;
    top: 0;
}
/* 2.혜택 =======================================*/
/* slider */
.slider {
    overflow: hidden;
    position: relative;
    width: 687px;
    height: 325px;
    background-color: #fff;
}
.slide-banner {
    position: absolute;
}
.slide-img {
    position: absolute;
    left: 300px;
}
.slider-control {
    position: absolute;
    bottom: 42px;
}
.slider-control > div {
    float: left;
}
.slider-control .util {
    padding: 0 10px 0 15px;
    font-size:0;
}
.slider-control .page-count {
    line-height: 14px;
}
.slider-control button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 8px;
}
.main-benefit .slider .slider-control .page {
    float: left;
    width: 190px;
    height: 2px;
    margin-top: 5px;
    background-color: #ebebeb;
}
.main-benefit .slider .slider-control .page > span {
    display: block;
    float: left;
    height: 100%;
}
.main-benefit .slider .slider-control .page .on {background-color: #503396;}
/* banner */
.banner_ad {overflow: hidden; margin-bottom: 60px;}
.banner { overflow: hidden;} 
.banner_ad .ad-img {
    position: absolute;
    right: 0px;
    top: 83px;
}
.banner_ad img {border-radius: 5px; width: 100%; height: 100%;}
.banner_ad .banner > div {border-radius: 5px; box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);}
.banner_ad .size-big {
    float: left;
    width: 441px;
    height: 204px;
    font-size: 0;
    line-height: 0;
    border-radius: 5px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
    margin-right: 20px;
}
.banner_ad .size-small {
    display: block;
    float: left;
    width: 204px;
    height: 204px;
}
/* menu*/
.menu {margin-bottom: 50px;}
.main-benefit .menu { overflow: hidden;}
.main-benefit .menu > div.cell { width: 20%; float:left;}
.menu .cell a {    
    display: block;
    padding: 60px 0 0 0;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    background-color: transparent;
    width: auto;
    height: auto;
    background-position: center 2px;
}

/* 3.큐레이션=================================== */
/* tit */
.main-curaion>div>.tit {margin-bottom: 40px;}
.main-curaion .tit-text {color:#fff; }
.more-movie {display: block; float:right; color: #aaa; line-height: 16px;}
.more-movie:hover {text-decoration: underline;}
.more-movie .icon-plus {margin-left: 6px;}

/* curation-area */
.curation-area {position: relative;}
.curation-area .movie { padding: 310px 0 0 370px; position: relative;}
/* curr-img */
.curr-img {position: absolute; z-index: 1; width: 100%; padding: 0 0 0 0;}
.curr-img .bage { top:-10px; left: 0px; z-index: 3; }
.curr-img .img { padding-left: 20px; font-size: 0; line-height: 0; }
.curr-img .img a {display: block; width: 300px; height: 430px; background: rgba(0, 0, 0,0.5); background-size: 48px 48px; border-radius: 15px;}
.curr-img .btn-group { width: 300px; height: 50px; overflow: hidden; margin: 10px 0 0 20px;}
.btn-group > div { width: 145px; height: 100%; text-align: center;  padding: 0; }
.btn-group div .button {color: #fff; display: block; width: 100%; height: 50px; line-height: 48px; font-size: 1.3333em; border: 1px solid #fff; border-radius: 4px; box-sizing: border-box;}
.btn-group .left {float: left;}
.btn-group .right {float: right; }
.btn-group .right .button.gblue{ border: 0;}
.curr-img .info {
    position: absolute;
    left: 370px;
    top: 0;
    width: calc(100% - 370px);
    color: #fff;
}
.curr-img .info .txt {
    display: block;
    margin-left: 0;
    padding: 0 0 10px 0;
    font-size: 1.3333em;
    line-height: 1.1;
}
.curr-img .info .tit {
    overflow: hidden;
    display: block;
    margin-left: 0;
    padding: 0 0 30px 0;
    font-size: 2.4em;
    line-height: 1.1;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.curr-img .info .summary {
    overflow: hidden;
    height: 192px;
}
.curr-img .info.film .tit {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.curr-img .info .summary:first-line {
    line-height: 60px;
}
/* movie list */
.movie-box .box {position: relative; float: left; margin-right: 15px; box-sizing: border-box; }
.box .img { width: 170px; height: 244px;}
.box .img img {border-radius: 10px;}
.box .tit {padding-top: 14px; text-align: center; color: #fff; font-size: 13px;}
.movie-box > li:last-child {margin-right: 0;}

/* 4.안내=================================== */
.info-special { padding:40px 0 50px 0; border-bottom: 1px solid #e2e2e2;}
.info-special ul {text-align: center;}
.info-special ul > li { display: inline-block;  margin-right: 20px;}
.info-special ul > li:last-child {margin-right: 0px;}    
.info-notice {padding: 20px 0 20px 0; overflow: hidden;}
.info-notice .notice .author, .info-notice .notice .more  { display: block;width: 7%;float: left;}
.info-notice .notice .title { display: block; float: left; width: 84%; box-sizing: border-box; border-left: 1px solid #e2e2e2;  border-right: 1px solid #e2e2e2;}
.info-notice .notice .more {text-align: right;}
.info-notice .notice .title > p {display: block;}
.info-notice .notice .title p.link {float: left;}
.info-notice .notice .title p.date {float: right; padding-right: 12px; color: #666;}
.info-notice .notice .title strong {color: #29899d;}
.info-notice .notice .more i.icon.icon-arr-right-gray {margin-left: 5px;}
.main-info .info-link {padding: 50px }
.main-info .info-link .table {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.main-info .info-link .table .cell:first-child {
    width: 16.7%;
}
.main-info .info-link .table .cell {
    display: table-cell;
    width: 16.6%;
    text-align: center;
    vertical-align: middle;
}
.main-info .info-link .table .cell a i {
    display: block;
    margin: 0 auto;
}
.main-info .info-link .table .cell a span {
    display: block;
    margin: 0 auto;
    padding: 10px 0 0 0;
    line-height: 1.3;
}

/* footer======= */
#footer {
    position: relative;
    min-width: 1100px;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    background-color: #f8f8fa;
}
#footer .footer-top {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}
#footer .footer-bottom {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}
#footer .footer-top .fnb {
    float: left;
}
#footer .footer-top .fnb li:first-child {
    margin-left: 0;
}
#footer .footer-top .fnb li {
    float: left;
    margin-left: 14px;
}
#footer .footer-top .fnb li a {
    display: block;
    color: #666;
    line-height: 30px;
    font-size: .8667em;
}
#footer .footer-top .fnb li.privacy a {
    color: #222;
    font-weight: 700;
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
.inner-wrap:after, .inner-wrap:before {
    content: '';
    display: table;
}
#footer .footer-top .btn-looking-theater {
    overflow: hidden;
    float: right;
    display: block;
    width: 106px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 28px;
    color: #666;
    font-size: .8667em;
    border: 1px solid #d8d9db;
    border-radius: 30px;
    text-decoration: none;
}
#footer .footer-top .btn-looking-theater i {
    margin-right: 4px;
}
#footer .footer-top .btn-looking-theater:focus, #footer .footer-top .btn-looking-theater:hover, #footer .footer-top .btn-looking-theater:visited {
    color: #666;
}
#footer .footer-bottom .ci {
    overflow: hidden;
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity.png) no-repeat center;
}
#footer .footer-bottom .footer-info {
    float: left;
    font-size: .8667em;
    letter-spacing: 0;
}
#footer .footer-bottom .footer-sns {
    float: right;
}
#footer .footer-bottom .footer-info p {
    display: inline-block;
    vertical-align: top;
}
#footer p {
    margin: 0;
    padding: 0;
}
#footer .footer-bottom .footer-info p.copy {
    display: block;
}
#footer .footer-bottom .footer-sns {
    float: right;
}
#footer .footer-bottom .footer-sns a {
    display: block;
    float: left;
    width: 32px;
    height: 30px;
    margin-left: 5px;
    font-size: 0;
    line-height: 0;
}
#footer .footer-bottom .footer-sns a i {
    display: block;
    margin: 0;
}

/* layer-login */
.modal-layer {
    overflow-y: scroll;;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 501;
    background-color: rgba(0,0,0,0);
}
.modal-layer .wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    min-height: 250px;
    margin: 0;
    padding: 45px 0 0 0;
    box-shadow: 2px 2px 6px 2px rgba(0,0,0,.1);
    background: #fff;
    /* 나중에 아래 지우기 */
    width: 850px;
    height: 484px;
    margin-left: -425px;
    margin-top: -242px;
}
.bg-modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    pointer-events: none;
}

.layer-header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #503396;
    width: 100%;
    height: 45px;
}
.layer-header h3.tit {
    color: #fff;
    padding: 15px 20px 0 20px!important;
    font-size: 1.2em;
    line-height: 1.1;
}
.modal-layer .wrap .layer-con {
    overflow-y: auto;
    background-color: #fff;
    padding: 20px 20px 0 20px;
}

.login-member {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.login-member.col-2 {
    width: auto;
}
#layer_login .login-member.col-2 .col {
    width: 380px;
}
.login-member .col-wrap {
    overflow: hidden;
}
.login-member .col-wrap .col {
    position: relative;
    z-index: 2;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}
.login-member.col-2 .col.left {
    float: left;
}
.login-member.col-2 .col.right {
    float: right;
}
.login-input-area .input-text {
    display: block;
    width: 100%;
    height: 46px;
}
.login-input-area .chk-util {
    overflow: hidden;
    padding: 15px 0 35px 0;
}
.login-input-area .chk-util .hp-ad a span {
    display: inline-block;
    color: #3d7db7;
    vertical-align: middle;
}
.login-input-area .chk-util .hp-ad a em {
    overflow: hidden;
    display: inline-block;
    width: 36px;
    height: 16px;
    margin-left: 4px;
    line-height: 14px;
    font-size: .8em;
    border: 1px solid #3d7db7;
    text-align: center;
    vertical-align: middle;
    color: #3d7db7;
}
.login-input-area .btn-login {
    display: block;
    width: 100%;
}
.button[disabled] {
    color: #777!important;
    cursor: default!important;
    background-color: #e0e0e0!important;
    border-color: #e0e0e0!important;
}
.login-input-area .link {
    padding: 20px 0 30px 0;
    text-align: center;
    line-height: 1.1;
}
.login-input-area .link a:first-child {
    margin-left: 0;
    padding-left: 0;
}
.login-input-area .link a {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin: 0 0 0 27px;
    padding: 0;
    font-size: .9333em;
    color: #666;
}
.login-input-area .sns-login {
    text-align: center;
}
.login-input-area .sns-login a {
    overflow: hidden;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 23px;
    font-size: 0;
    line-height: 0;
}
.login-input-area .link > a:nth-child(n + 2):before {
    content: '';
    display: block;
    position: absolute;
    left: -15px;
    top: 50%;
    width: 1px;
    height: 16px;
    margin-top: -8px;
    background-color: #d8d9db;
    pointer-events: none;
}
.modal-layer .wrap .btn-modal-close {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 16px;
    height: 15px;
    margin: 0;
    padding: 0;
    border: 0;
    text-indent: -9999px;
    background: url(../img/ico/btn-layer-close.png) no-repeat center;
}